.button {}
.kyssa {display: block;}
.torso {text-align: center !important;
        font-family: 'Comic Sans MS';
        vertical-align: middle;
        padding: 250px;
        }
input {
        font-family: 'Comic Sans MS';
        background-color: red;
        border: 5px solid red;
        border-radius: 5px;
      }


.logo { align-items: center;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 20%;
        overflow: hidden;
        object-fit: cover;
       }

.main-header {
        width: 100%;
        position: fixed;
        display: inline;
        height: 15%;
        }

.main-screen {height: 85%;
              text-align:center;
              display: block}

.main-button {
              bottom: 20%;
              position:absolute;
              background-color: #878A94;
              border: 5px solid #878A94;
              border-radius: 15px;
              font-family: Arial;


body {margin: 0px;
      font-family: Arial;
      display: block;
}
